**

!package.json
!bun.lock

!controller/
!controller/Cargo.toml
!controller/Cargo.lock
!controller/src/
!controller/src/**

!docker/
!docker/**

!web/
!web/**

web/dist/
web/node_modules/
**/.env
**/.env.*
**/*.key
**/*.key.pem
**/*.log
